@import url("components/container.css");
@import url("components/footer.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0px;
  color: #ad8a0d;
  background-color: rgb(18, 18, 18);
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

a {
text-decoration: none;
}


.center {
  border: 2px solid;
  background-color: rgba(30,30,30,0.1);
  margin: auto;
  width: 50%;
  padding: 25px;
}


.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li{
  display: inline;
  padding: 10px;

}

.list-inline i{
  font-size: 65px;
}
